docs/_build/*
dist/*
mpltex.egg-info/*
*.pyc
*.swp
*.mat
*.bak
*.sublime-project
*.sublime-workspace
*.DS_Store
*.ipynb_checkpoints
tests/*.png
tests/*.pdf
tests/*.eps
tutorial/*.png
tutorial/*.pdf
tutorial/*.eps
